.dashboard-container {
  display: flex;
  height: 90vh;
  width: 100%;
}

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: auto;
}


/* Content area */
.content {
  padding: 10px 30px;
  /* height: 111vh; */
  display: flex;
  flex-direction: column;
  gap: 6vh;
}